.order-p {
    font-size: large;
    font-weight: 700;
}

.order-p1 {
    font-size: 17px;
    font-weight: 600;
}

.checkboxcont {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    height: 22px;
    width: 23px;
    background-color: #dddcdc;
    margin-top: 3px;
    margin-left: 145px;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkboxcont:hover input~.checkmark {
    background-color: #838181;
}

/* When the checkbox is checked, add a blue background */
.checkboxcont input:checked~.checkmark {
    background-color: rgb(26, 181, 26);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxcont input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxcont .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

